.item-card {
  width: 15%;
  .image-holder {
    img {
      width: 100%;
      height: 300px;
    }
  }
  .footer {
      font-size: x-large;
      color: #505050;
      display: flex;
      justify-content: space-between;
  }
}
