.sign-in-container {
    margin: 30px 80px;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: space-around;

    .sign-in-form-container {
        width: 30%;
    }
}